.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: lightskyblue ;
    padding-left: 65%;
    padding-right: 5%;
}

.item {
    height: 60px;
    text-align: left;
    font-size: 1.3em;
    color: white;
}

.item div {
    margin-top: 18px;
}